.article-preview {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 5px solid;
    border-radius: 2em;
    padding: 1em;
    margin-bottom: 1em;

    @media screen and (max-width: $break-tablet) {
        flex-direction: column;
    }

}

img.article-preview-img {
    display: block;
    width: 30%;
    //height:min-content;
    border-radius: 2em;

    @media screen and (max-width: $break-tablet) {
        width: 100%!important;
        margin-bottom: 1em;
    }
}