.banner-statistics{
    width: fit-content;
    text-align: center;
    font-size: 2em;
    color: $main-color-2;
    background-color: $secondary-color;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5em;
    padding: 1em;
}

.banner-statistics .banner-statistics-content{
    width: fit-content;
    background-color: $main-color-3;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.5em auto;
}