.menu-button {
    font-size: 1.35m;
    font-weight: bold;
    display: block;
    background-color: $main-color-2;
    color: $secondary-color;
    padding: 1em;
    border-radius: 0.7vw;
    padding: 0.5em 0;
    margin: auto;

    transition: .3s all ease-in-out;

    &:hover {
        background-color: $main-color-3;
        color: $main-color-2;
        cursor: pointer;
    }
}

.menu-dropdown{
    position: relative;

    &:hover .menu-dropdown-content{
        display: block;
    }
}

.menu-dropdown-content {
    width: 100%;
    background-color: $secondary-color-lighten;
    display: none;
    position: absolute;
    z-index: 1;
    top: 2em;
    border-radius: 0.5em;
    padding: 0.5em 0;

    @media screen and (max-width: $break-tablet) {
        position: relative;
        top: 1.3em;
    }
}

.menu-dropdown-content ul{
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.hamburger-button{
    display: none;
    padding: 0.5em;
    text-align: center;

   

    @media screen and (max-width: $break-tablet) {
        display: block;

    }
}