.nav-bar{
    background-color: $secondary-color;
    color: $secondary-color;
    padding: 2%;
    border-radius: 1em;
}

.nav-content{
    display: none;
    @media screen and (min-width: $break-tablet) {
        display: block!important;
    }
}

.nav-bar ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    

    @media screen and (max-width: $break-tablet) {
        flex-direction: column;
        margin-top: 1em;
    }
}
.nav-bar li{
    text-align: center;
    display: inline-block;
    flex: 1;
    margin: 0 4%;
}

.nav-bar a {
    text-decoration: none;
}