a.simple-link{
    display: inline-block;
    text-decoration: none;
    color: inherit;


    transition: padding-left 0.2s ease, color 0.1s linear 0.1s;
}

a.simple-link a:visited{
    color: inherit;
}

a.simple-link:hover{
    color: $main-color-3-lighten;
    padding-left: 0.5em;

}