html{
    font-size: 1.3vw;
}

@media screen and (max-width: $break-tablet) {
    html{
        font-size: 2.5vw;
    }
}

@media screen and (max-width: $break-mobile) {
    html{
        font-size: 4.2vw;
    }
}