$main-color-1: black;
$main-color-2: white;
$main-color-3: green;

$main-color-3-lighten: lighten($main-color-3,20);
$main-color-3-lighten: lighten($main-color-3,20);

$secondary-color: rgb(35, 35, 35);
$secondary-color-lighten: lighten($secondary-color,20);

$break-tablet: 800px;
$break-mobile: 450px;