.main-footer {
    width: 100%;
    background: $secondary-color;
    margin-top: auto;       //keep at bottom when page is not full
    font-size: 1em;
}


.footer-container-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px ;
    padding-bottom: 10px;

    @media screen and (max-width: $break-mobile) {
        flex-direction: column;
    }
}



.footer-column{
    flex: 1 1 0;
    padding:  10px;

    @media screen and (max-width: $break-tablet) {
        flex-basis: 40%;
    }
}

.footer-column-heading{
    font-size: 1.1em;
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
    padding: 0.5em;
    margin-bottom: 0.8em;
    background-color: $main-color-2;
    color: $secondary-color;
    border-radius: 0.4em;
}

.footer-column li{
    padding-left: 0.5em;
    margin-bottom: 1em;
    border-left: 0.1em solid;
    white-space: nowrap;
}



.footer-logo-container img {
    width: 60%;
    display: block;
    min-width: 120px;
    border-radius: 30%;
    border: 1px solid;
    margin-left: 0;
    margin-right: auto;

    @media screen and (max-width: $break-mobile) {
        margin-left: auto;
        margin-right: auto;
    }

}

.footer-copyright {
    font-size: 0.7em;
    background-color: $main-color-3;
    margin-top: 5px;
    padding: 2px;
}

.footer-copyright-contanier{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width:  $break-mobile) {
        flex-direction: column;
    }
}


.footer-copyright-item{
    flex: 1 0 0 ;
    padding: 0.5em;
    min-width: min-content;
    white-space: nowrap;
}

.copyright-left{
    text-align:right;
    
    @media screen and (max-width: $break-mobile) {
        text-align: center;
    }
}

.copyright-center{
    text-align:center;
}

.copyright-right{
    text-align:left;

    @media screen and (max-width: $break-mobile) {
        text-align: center;
    }
}