.general-article{
    margin: 2em 0;
}

.general-article h1{
    font-size: 2em;
    margin-bottom: 1em;
}

.general-article h2{
    font-size: 1.6em;
    margin-bottom: 1em;
}

.general-article img{
    width: 30%;
    border: 1px solid;

    @media screen and (max-width: $break-tablet) {
        width: 50%;
    }

    @media screen and (max-width: $break-mobile) {
        width: 100%;
    }

}

.general-article p{
    margin-bottom: 1em;
}

.general-article img:nth-of-type(odd){
    float: left;
    margin-right: 1em;
}

.general-article img:nth-of-type(even){
    float: right;
    margin-left: 1em;
}
