.header-logo-container{
    text-align: center;
}

.header-logo-container img{
    height: 8em;
    max-width: 100%;

    @media screen and (max-width: $break-tablet) {
        height: 6em;
    }

    @media screen and (max-width: $break-mobile) {
        height: 4em;
    }
}